:root {
	--background-color: rgb(91, 91, 91);
}

.main-forecast-container {
	font-size: 1rem;
	margin-left: auto;
	margin-right: auto;
	width: 530px;
	height: 470px;
	background-color: var(--background-color);
	box-shadow: 0px 0px 30px 4px black;
	margin-top: 50px;
}

.temperature-icon-weather-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.temperature-icon-container {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.temperature {
	font-size: 4rem;
	display: flex;
	justify-content: center;
	position: relative;
	top: -30px;
}

.weather-icon {
	width: 100px;
	height: 100px;
}

.weather {
	margin-top: -65px;
}

.location-container {
	display: flex;
	justify-content: center;
	gap: 7px;
	margin-top: -25px;
	margin-bottom: 25px;
}

.city {
	font-size: 4rem;
}

.country {
	font-size: 1.5rem;
	position: relative;
	top: 57px;
}

.bottom-info-container {
	width: 450px;
	height: 100px;
	display: flex;
	justify-content: center;
	gap: 45px;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid rgba(210, 208, 208, 0.47);
	border-radius: 25px;
}

.weather-details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.weather-details h2 {
	font-size: 1rem;
	position: relative;
	bottom: 40px;
}
