.single-task.done {
	color: rgb(106, 233, 106);
}

.remove {
	background-color: transparent;
	cursor: pointer;
	border: none;
	font-size: 12px;
	margin-right: 18px;
	text-decoration: none;
}

.if-done-checkbox {
	position: relative;
	right: 10px;
}

.edit-mode-input,
.edit-mode-input:focus {
	outline: none;
	border: none;
}

.edit-mode-button {
	background-color: var(--button-color);
	border: none;
	cursor: pointer;
	color: var(--text-color);
}
