HomeMenu {
	background-color: black;
}

.grid-container {
	display: grid;
	grid-template-columns: 0fr 0fr;
	grid-column-gap: 100px;
	grid-row-gap: 50px;
	justify-content: center;
}

.select-box {
	width: 400px;
	height: 100px;
	border: none;
	transition: 0.4s;
}

.select-box:hover {
	background: #61dbfb;
	cursor: pointer;
	transform: scale(1.2);
}

button h1 {
	margin: auto auto;
	font-weight: 800;
	font-size: 2rem;
	color: black;
}
