HomeMenu {
	background-color: black;
}

.select-box {
	width: 400px;
	height: 100px;
	display: flex;
	margin: 45px auto 0px auto;
	border: none;
	transition: 0.4s;
}

button > h1 {
	margin: auto auto;
	font-weight: 800;
	font-size: 2rem;
	color: black;
}

.select-box:hover {
	background: red;
	cursor: pointer;
	transform: scale(1.2);
}
