.task-functional-button.done {
	color: green;
}

.task-functional-button.undone {
	background-color: orange;
}

.task-functional-button.change {
	background-color: #0177fb;
}

.task-functional-button.cancel {
	background-color: rgb(252, 106, 106);
}

.if-done-checkbox {
	position: relative;
	right: 10px;
}
