li {
	background-color: gray;
	height: 48px;
	width: 704px;
	list-style-type: none;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

li button {
	width: 66.65px;
	height: 48px;
	float: right;
}

.done-button {
	background-color: green;
	color: black;
	font-weight: 600;
}

.undone-button {
	background-color: orange;
	color: black;
	font-weight: 600;
}

.cancel-button {
	background-color: rgb(252, 106, 106);
	color: black;
	font-weight: 600;
}

li .task-name {
	position: relative;
	top: 11px;
}

.done {
	background-color: green;
}

.done .task-name {
	color: black;
}
